<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dayNumber</key>
	<integer>0</integer>
	<key>quoteArray</key>
	<array>
		<string>“Twenty years from now you will be more disappointed by the things that you didn’t do than by the ones you did do.”                                 - Mark Twain</string>
		<string>“Motivation is a fire from within. If someone else tries to light that fire under you, chances are it will burn very briefly.”  - Stephen R. Covey</string>
		<string>“In three words I can sum up everything I’ve learned about life: It goes on.”- Robert Frost</string>
		<string>“In any situation, the best thing you can do is the right thing; the next best thing you can do is the wrong thing; the worst thing you can do is nothing.”- Theodore Roosevelt</string>
		<string>“I have not failed. I’ve just found 10,000 ways that won’t work.”- Thomas Edison</string>
		<string>“In order to succeed, your desire for success should be greater than your fear of failure.”– Bill Cosby</string>
		<string>“The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle.”– Steve Jobs</string>
		<string>“We don’t stop playing because we grow old; we grow old because we stop playing.”- George Bernard Shaw</string>
		<string>“Life’s tragedy is that we get old too soon and wise too late.”- Benjamin Franklin</string>
		<string>“For every minute you are angry you lose sixty seconds of happiness.”- Ralph Waldo Emerson</string>
		<string>“He who angers you conquers you.”- Elizabeth Kenny
</string>
		<string>“You will not be punished for your anger; you will be punished by your anger.”- Buddha</string>
		<string>“You must be the change you wish to see in the world.”- Mahatma Gandhi</string>
		<string>“The only thing constant in life is change.”- Francois de la Rochefoucauld</string>
		<string>“Even death is not to be feared by one who has lived wisely.”- Buddha</string>
		<string>“Money won’t create success. The freedom to make it will.”- Nelson Mandela</string>
	</array>
</dict>
</plist>
